/* global */

*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

img{
    max-width: 100%;
}
/*header */
.latest{
    color: white;
    text-align: center;
    max-width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.latest-header{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 550;
    letter-spacing: 3px;
}
.latest-text{
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}
.span-subs{
    border-bottom: solid #ffcc00;
}
.span-subs:hover{
    background-color: #ffcc00;
    color: black;
}
/* utilities */
.main-news img{
    width: 50%;
}

/* nav */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 45px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 230px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 12px;
    letter-spacing: 2.5px;
}

.nav-links .subs-link{
    background-color: black;
    padding: 15px;
    color: white;
}
.nav-links .subs-link:hover{
    background-color: #ffcc00;
    color: black;
}
.nav-links a:last-of-type{
    margin-right: 20px;
}
.search-link,.renew-link,.menu-link,.bglogo{
    display: none;
}
nav img{
    height: 35px;
    margin-left: 10px;
}

/* main news */
.main-news{
    position: relative;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    background-color: blue;
}

.main-news-text{
    text-align: center;
}

/* today's pick */
.todays-picks-container{
    color: white;
    justify-content: space-between;

}
.tp-header{
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    margin-left: 10px;
    border-left: 7px solid #ffcc00;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 600;
}
.tp-header p{
    margin-left: 15px;
}

.pick-item{
    display: inline-block;
    justify-content: center;
    padding-top: 25px;
    background-color: gray;
    height: 600px;
}
.pick-item img{
    resize: both;
    margin-left: 10px;
    padding: 10px;
    
}